*{
    margin: 0;
    padding: 0; 
 }

header{
    text-align: center;
    margin: 10px 0px;
}

.container {
     background-color: grey;
     width: 600px;
     height: 80vh;
     margin: auto;
     display: flex;
     /* flex-direction: row;
     flex-wrap: nowrap; */
     flex-flow: row nowrap;
     justify-content: flex-start;
     align-items: stretch;
 }

 .item{
     background-color:lightpink;
     width: 100px; 
     color: black;
     font-size: x-large;
     margin: 10px;
 }

 .item:nth-child(even){
     background-color: plum;
 }


 .caja {
     padding: 40px;
     background-color: purple;
     color: white;
     text-align: center;

 }

 /* Propiedad flex 
 flex-grow : 0 ;
 flex-shrink : 1;
 flex-basis : auto

 flex: 0 1 auto;
 flex: none -> 0 0 auto;
 flex: auto -> 1 1 auto
 flex: N 
 */

 .item:nth-child(1) {
    flex: 25;
 }

 .item:nth-child(2) {
     flex: 45;
 }

 .item:nth-child(3) {
     flex: 15;
 }

 .item:nth-child(4) {
     flex: 40;
 }
